<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    {{> navbar}}
  </div>

  <div>
    <h2>Cart</h2>
    <ul>
      {{#each cart.products}}
      <li>
        Product: {{this.product.title}}
        Quantity: {{this.quantity}},
        Unitary cost: ${{this.product.price}},
        Total: ${{multiply this.quantity this.product.price}}
      </li>
      {{/each}}
    </ul>
    <p>Total cost of all items: ${{totalCost cart.products}}</p>
    <button id="purchase-button">Purchase</button>
    <button>Clear Cart</button>
  </div>

  <script src="/js/purchaseButton.js"></script>
</body>

</html>