<main>
    <div>
        {{#if prevPage}}
            <a href='/api/products?page={{prevPage}}'>Previous page</a>
        {{/if}}
    </div>
    <div>
        {{#if nextPage}}
            <a href='/api/products?page={{nextPage}}'>Next page</a>
        {{/if}}
    </div>
    <h1>Products</h1>
    {{#each products}}
        <div>
            <ul>
                <li>
                    <div>
                        <h2><a
                                href='/api/products/{{this._id}}'
                            >{{this.title}}</a></h2>
                    </div>
                </li>

                <li>
                    <div>
                        <strong>${{this.price}}</strong>
                    </div>
                </li>
                <li>
                    <div>
                        <img src='{{this.thumbnail}}' alt='product thumbnail' />
                    </div>
                </li>
                <li>
                    <div>
                        {{this._id}}
                    </div>
                </li>
            </ul>
        </div>
    {{/each}}
</main>

<script src='/socket.io/socket.io.js'></script>
<script type='module' src='/js/index.js'></script>